.modal-container {
    position: fixed;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 10;
    overflow: hidden;
    background-color: #fff;
    border-radius: 12px;
  }
  .header {
    padding: 0.01rem 1rem;
    font-size: 16px;
    color: white;
    background-color: #800080;
  }

  .error-msg {
    padding: 1rem 1rem;
  }
  .error-msg {
    color: black;
    font-size: 1rem;
    font-weight: 400;
  }
  .modal-close {
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
  }
  .modal-close button {
    background: #800080;
    color: #fff;
    font-size: 1rem;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
  }